// color 
$bg-body: rgb(29, 47, 48);
$bg-footer: rgb(11, 25, 25);


$color-card:rgb(137, 157, 157);
$color-button: rgb(186, 226, 73);
$color-active: rgb(104,139,5);
$color-black: rgb(11, 25, 25);
$color-grey: rgb(29, 47, 48);
$color-greyCopy: rgb(137, 157, 157);
$color-white: rgb(255, 255, 255);

// text-size 
$text-body:clamp(0.75rem, 0.664rem + 0.37vw, 1rem);//16px